language: go
go:
    - 1.5
    - 1.6
    - tip
install:
    - go get github.com/bwmarrin/discordgo
    - go get -v .
    - go get -v github.com/golang/lint/golint
script:
    - diff <(gofmt -d .) <("")
    - go vet -x ./...
    - golint -set_exit_status ./...
    - go test -v -race ./...
